<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ng1 TodoMvc with Firebase plus Typescript</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="./node_modules/angular-material/angular-material.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="./css/todomvc-common.css" media="screen" title="no title" charset="utf-8">
    <style media="screen">
        [ng-cloak:] {
            display: none;
        }
    </style>

</head>

<body ng-app="todomvc" ng-controller="TodoController as vm">
    <section>

        <header>
            <div layout="row" layout-align="center center" ng-cloak>
                <div layout="column">
                    <h2>Todos</h2>
                    {{vm.allChecked}}
                    <div layout="row">
                        <div>
                            <md-checkbox class="markall" ng-click="vm.markAll(!vm.allChecked)" ng-model="vm.allChecked" name="string"  aria-label="mark all checkbox">
                            </md-checkbox>

                        </div>
                        <div>
                            <form ng-submit="vm.addTodo();">
                                <md-input-container>
                                    <label>What do you want to next?</label>
                                    <input type="text" ng-model="vm.newTodo" autofocus>
                                </md-input-container>

                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </header>

    </section>
    <section>
        <div layout="row" ng-show="vm.todos.length" layout-align="center center" ng-cloak>
            <div layout="column" flex="50" layout-align="start center">
                <div class="" flex="100">
                    <ul class="todo-list">
                        <li ng-class="{completed: todo.completed, editing: todo === vm.editedTodo}" ng-repeat="todo in vm.todos | filter:vm.statusFilter track by $index">
                            <!-- hide the view on the double-click
                            how
                            show form on double click -->
                            <div class="view" layout="row">
                                <md-checkbox ng-model="todo.completed" ng-change="vm.updateTodoStatus(todo)" aria-label="Todo checkbox">
                                    <!-- moved the value outside the md-checkbox container so clicking only on the check box will cause the competed css change -->
                                </md-checkbox>
                                <span flex><span class="checkbox-label" ng-dblclick="vm.editTodo(todo)">{{todo.title}}</span></span>
                                <md-button class="md-raised" ng-click="vm.removeTodo(todo)">Remove</md-button>
                            </div>
                                <form class="" ng-submit="vm.doneEditing(todo)">
                                <md-input-container class="edit">
                                    <label></label>
                                    <input type="text" ng-model="todo.title" todo-focus="todo === vm.editedTodo" ng-blur="vm.doneEditing(todo)" todo-escape="vm.revertEdits(todo)">
                                </md-input-container>
                            </form>
                        </li>
                    </ul>
                </div>


            </div>
        </div>

    </section>
    <footer class="footer" ng-show="vm.todos.length" layout="row" layout-align="center center" ng-cloak>
        <div layout="column" flex="50">
            <div layout="row">
                <div flex>
                    <span>
                        <strong>{{vm.remainingCount}}</strong>
                        <ng-pluralize count="vm.remainingCount" when="{one: 'item left', other: 'items left'}"></ng-pluralize>
                    </span>
                </div>
                <div flex>
                    <ul class="filters">
                        <li class="l-left"><a ng-class="{selected: location.path() === '/'}" href="#/">All</a></li>
                        <li class="l-left"><a ng-class="{selected: location.path() === '/active'}" href="#/active">Active</a></li>
                        <li class="l-left"><a ng-class="{selected: location.path() === '/completed'}" href="#/completed">Completed</a></li>
                    </ul>
                </div>
                <div flex>
                    <md-button ng-click="vm.clearDoneTodos()" ng-show="vm.doneCount" aria-label="description">
                        Clear completed
                    </md-button>
                </div>
                </div>
            </div>

    </footer>

    <!-- libraries -->
    <script src="./node_modules/jquery/dist/jquery.js" charset="utf-8"></script>
    <script src="./node_modules/firebase/firebase.js"></script>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/angular-animate/angular-animate.js"></script>
    <script src="./node_modules/angular-aria/angular-aria.js"></script>
    <script src="./node_modules/angular-material/angular-material.js"></script>
    <script src="./node_modules/angularfire/dist/angularfire.js"></script>


    <!-- application -->
    <script src="./js/app.js" charset="utf-8"></script>
    <script src="./js/services/todoDataService.js" charset="utf-8"></script>
    <script src="./js/controllers/todo.controller.js" charset="utf-8"></script>
    <script src="./js/directives/todo-escape.directive.js" charset="utf-8"></script>
    <script src="./js/directives/todo-focus.directive.js" charset="utf-8"></script>


</body>

</html>
