bower_components
node_modules
.idea
.DS_STORE
tmp
npm-debug.log
build
other
report
/src/client/app/typings
/src/client/app/examples/**/bower_components
/src/client/app/examples/**/node_modules
/src/client/app/examples/**/js/typings
/src/client/app/examples/contact-manager-amf/app/bower_components
