<div layout="row" layout-align="center center"flex>
    <div layout="column" flex="80">
        <div layout="row" flex>
            <div class="">
                <img ng-src="{{vm.profilePic}}" alt="" />
            </div>
            <span flex="15"></span>
            <div class="" flex>
                <h1>{{vm.fullName}}</h1>
                <div class="">
                    more user detail
                    <p>
                        {{vm.photoURL}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
