<div layout="column" layout-fill>

    <!-- splash page -->
    <div id="splash-page" class="dissolve-animation" ng-show="sc.showSplash">
        <div class="page-splash" layout="row" layout-align="center center" >
            <div class="splash-section" layout="column" flex="50">
                <h1>Friendly Pix</h1>
                <p>
                    The friendliest way to share your pics.
                </p>


                <div class="signed-out-only" layout="column">
                    <div class="firebaseui-auth-container" ng-show="!hc.showLogin">
                        <div class="" ng-show="!sc.isUser">
                            <md-button class="md-raised" ng-click="sc.signInWithGoogle()">Sign In with Google</md-button>
                        </div>
                        <div layout="row" layout-align="center start">

                                <div class="" layout="column" ng-show="!sc.isUser">
                                    <md-input-container>
                                        <label>Email</label>
                                        <input type="email" ng-model="sc.email">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Password</label>
                                        <input type="password" ng-model="sc.password">
                                    </md-input-container>
                                    <md-button class="md-raised" ng-click="sc.signInWithEmailAndPassword(sc.email, sc.password)">Sign In with Email</md-button>

                            </div>
                        </div>
                        <div layout="row" layout-align="center start">

                                <div class="" layout="column" ng-show="!sc.isUser">
                                    <md-input-container>
                                        <label>Email</label>
                                        <input type="email" ng-model="sc.email1">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Password</label>
                                        <input type="password" ng-model="sc.password1">
                                    </md-input-container>
                                    <md-button class="md-raised" ng-click="sc.createUserWithEmailAndPassword(sc.email1, sc.password1)">Sign Up with Email</md-button>

                            </div>
                        </div>
                    </div>
                    <p>
                        <a class="fp-skip" ui-sref="profile({uid: sc.uid})">profile</a>
                    </p>
                    <p>
                        <a class="fp-skip" ui-sref="feed">skip sign in</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
<!-- end splash -->

<!-- shell body -->
    <md-toolbar class="md-primary" layout="row">
        <nav>
            <ul class="main-nav-fp">
                <li><a ui-sref="splash">Splash</a></li>
                <li><a ui-sref="profile">Profile</a></li>
                <!-- <li><a ui-sref="homeFeed">Home Feed</a></li>
                <li><a ui-sref="allFeed">All Feed</a></li> -->
            </ul>
        </nav>
        <span flex></span>
        <div class="">
            <md-button class="md-raise" ng-click="sc.signOutAndShowSplash()">Sign out</md-button>
            <!-- <a ui-sref="friendly.user({uid: vm.userId})">My Profile Page</a> -->

        </div>

    </md-toolbar>
    <!--Note: for scrollShrink to work, the toolbar must be a sibling of a md-content element, placed before it.-->
    <md-content>

        <div ui-view="content"></div>



    </md-content>
</div>
