<div layout="column" layout-fill>

    <!-- splash page -->
    <div id="splash-page" class="dissolve-animation" ng-show="sc.showSplash">
        <div class="page-splash" layout="row" layout-align="center center" >
            <div class="splash-section" layout="column" flex="50">
                <h1>Friendly Pix</h1>
                <p>
                    The friendliest way to share your pics.
                </p>


                <div class="signed-out-only" layout="column">
                    <div class="firebaseui-auth-container" ng-show="!hc.showLogin">
                        <div class="" ng-show="!sc.isUser">
                            <md-button class="md-raised" ng-click="sc.signInWithGoogle()">Sign In with Google</md-button>
                        </div>
                        <div class="" ng-show="!sc.isUser">
                            <md-button class="md-raised" ng-click="sc.signInWithGithub()">Sign In with Github</md-button>
                        </div>


                    </div>
                    <p>
                        <a class="fp-skip" ui-sref="profile({uid: sc.uid})">profile</a>
                    </p>
                    <p>
                        <a class="fp-skip" ui-sref="feed">skip sign in</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
<!-- end splash -->

<!-- shell body -->
<header>
    <div class="site-width-1024">
        <div layout="row">
            <!-- logo -->
            <h1 class="md-display-1">
                Friendly Pix
            </h1>
            <span flex></span>
            <div class="" layout="row">
                    <md-autocomplete md-search-text="sc.searchText" md-items="item in sc.searchUsers(sc.searchText, 10)" md-item-text="item._search_index.fullName" placeholder="Search for people to follow">


                        <!-- Todo: need to show the profile pic properly - currently shows the whole tag.  -->
                            <!-- 1. taking out the md-highlight-text out made it work
                            2. need to beautify. circle and align and size
                            the template used in the arch.js
                            <a class="fp-searchResultItem fp-usernamelink mdl-button mdl-js-button" href="/user/${peopleId}">
            <div class="fp-avatar"style="background-image: url(${peopleProfile.profile_picture ||
                '/images/silhouette.jpg'})"></div>
            <div class="fp-username mdl-color-textblack">${peopleProfile.full_name}</div>
        </a>    -->


                      <md-item-template>

                          <a ui-sref="home.user({uid: item.uid})">
                          <span><img ng-src="{{item.profile_picture}}"  width="25px" alt="" /></span>
                           <span md-highlight-text="">{{item._search_index.fullName}}</span>
                           </a>
                      </md-item-template>
                      <md-not-found>
                          No Matches Found.
                      </md-not-found>
                    </md-autocomplete>
                    <span><md-icon class="material-icons">search</md-icon></span>

                <md-button ng-click="sc.signOutAndShowSplash()">Sign out</md-button>
                <!-- <a ui-sref="friendly.user({uid: vm.userId})">My Profile Page</a> -->
            </div>
        </div>
    </div>
    <md-toolbar class="md-primary">
        <div class="site-width-1024">
            <div layout="row" class="full-width">
            <div class="" flex>
                <nav>
                    <ul class="main-nav-fp">
                        <li><a ui-sref="home.feed">Home</a></li>
                        <li><a ui-sref="home.generalFeed">Feed</a></li>
                        <li><a ui-sref="profile">Profile</a></li>
                        <!-- <li><a ui-sref="homeFeed">Home Feed</a></li>
                        <li><a ui-sref="allFeed">All Feed</a></li> -->
                    </ul>
                </nav>
            </div>
                <span flex></span>
                <div class="">
                    <!-- start of the pattern: name? -->
                    <choose-file layout="row">
                        <!-- 1:  -->
                        <input id="fileInput" type="file" class="ng-hide">
                        <!-- 2 -->
                        <!-- <md-input-container>
                            <label>Select your file</label>
                            <input type="text" ng-model="pro.fileName" disabled>
                        </md-input-container> -->
                        <!-- 3 -->
                        <div class="">
                            <md-button id="uploadButton" class="md-fab md-mini">
                                <md-icon class="material-icons">attach_file</md-icon>
                            </md-button>
                        </div>
                    </choose-file>

                </div>

            </div>
        </div>
    </md-toolbar>
</header>
    <!--Note: for scrollShrink to work, the toolbar must be a sibling of a md-content element, placed before it.-->
    <md-content>


        <div ui-view="content"></div>



    </md-content>
</div>
