<div id="splash-page" class="dissolve-animation" ng-show="sc.showSplash">
    <div class="page-splash">
        <div class="page-splash-message">
            Ng1 Sandbox
        </div>
        <div layout="row" layout-align="center start">
            <div layout="column" flex="90">
                <md-progress-linear class="progress page-progress-bar" md-mode="determinite" value="1000"></md-progress-linear>
            </div>
        </div>

    </div>
</div>

<div layout="row" class="boxWithHeight">
    <div layout="column" class="boxWithHeight" layout-padding>
        <!-- mdsidebar -->
        <sidenav-ng1 class="boxWithHeight"></sidenav-ng1>

    </div>
    <div flex>
        <!-- toolbar TODO -->
        <!-- content  -->
        <div layoff="column" ui-view="examples" flex layout-padding></div>
    </div>
</div>
