<md-sidenav md-component-id="left" class="md-sidenav-left boxWithHeight" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="1">
    <!-- <header> not using for now main css file has weird margins-->
    <div>
        <h1>NG1 Sandbox</h1>
        <p>
            {{sn.sidenavNg1}}
        </p>
    </div>
    <div class="">

        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    </div>
</md-sidenav>

<!-- <h1>testing</h1>   -->
