/* NG Todo LocalStorage */


/**
 * Header
 */

.margin-30 {
    margin: 0 30px;
}

/**
 * Application Section
 */

.app-container {
    max-width: 550px;
    min-width: 420px;
    margin: 100px 0 40px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
